<div class="container">
  <div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registration form</h3>
       </div>
       <div class="panel-body py-3">
        <form [formGroup]="registerForm">
          <div class="row py-3">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group ">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" class="form-control input-sm" formControlName="firstName">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="lastName">Last Name</label>

                <input type="text" name="lastName" id="lastName" class="form-control input-sm" formControlName="lastName">
              </div>
            </div>
          </div>

          <div class="form-group py-3">
            <label for="email">Email</label>

            <input type="email" name="email" id="email" class="form-control input-sm" formControlName="email">
          </div>
          <div class="form-group py-3">
            <label for="phone">Phone</label>

            <input type="text" name="phone" id="phone" class="form-control input-sm" formControlName="phone">
          </div>
          <div class="form-group py-3">
            <label for="company">Company</label>

            <input type="text" name="company" id="company" class="form-control input-sm" formControlName="company">
          </div>
          <div class="form-group py-3">
            <label class="my-2">Select Gender</label>
            <div class="radio">
            <label>
              <input type="radio" name="gender" id="gender" value="male" formControlName="gender">
              Male
            </label>
            <label class="mx-3">
              <input type="radio" name="gender" id="gender" value="female" formControlName="gender">
              Female
            </label>
          </div>
          </div>
          <div class="form-group py-3">
            <label for="dob">DOB</label>
            <input type="date" id="dob" name="dob" class="form-control input-sm" formControlName="dob">
          </div>
          <div class="row py-3">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="password">Password</label>

                <input type="password" name="password" id="password" class="form-control input-sm" formControlName="password"
                >
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-sm" formControlName="confirmPassword">
              </div>
            </div>
          </div>
        <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="onSubmit()">Save</button>
        <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updateUserDetail()">Update</button>
        <button type="button" class="btn btn-primary mx-2" (click)="Cancel()">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>
</div>
<table class="table mx-3">
  <thead class="bg-primary text-white">
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Company</th>
      <th scope="col">DOB</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userList">
      <td>{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.company}}</td>
      <td>{{item.dob}}</td>
      <td>
        <button class="btn btn-info" (click)="onEdit(item)">Edit</button>
        <button class="btn btn-danger mx-3" (click)="deleteUserDetails(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
